<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Main_0000_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,384},{103,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,98}}</string>
                <key>sourceSize</key>
                <string>{103,98}</string>
            </dict>
            <key>Main_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,510},{400,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,61}}</string>
                <key>sourceSize</key>
                <string>{400,61}</string>
            </dict>
            <key>Main_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,451},{191,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,179}}</string>
                <key>sourceSize</key>
                <string>{191,179}</string>
            </dict>
            <key>Main_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,644},{257,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,55}}</string>
                <key>sourceSize</key>
                <string>{257,55}</string>
            </dict>
            <key>Main_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,573},{513,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{513,78}}</string>
                <key>sourceSize</key>
                <string>{513,78}</string>
            </dict>
            <key>Main_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,824},{301,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,69}}</string>
                <key>sourceSize</key>
                <string>{301,69}</string>
            </dict>
            <key>Main_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,653},{407,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,78}}</string>
                <key>sourceSize</key>
                <string>{407,78}</string>
            </dict>
            <key>Main_0007_tishikuang_UI.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{658,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{658,145}}</string>
                <key>sourceSize</key>
                <string>{658,145}</string>
            </dict>
            <key>Main_0008_jiajiajia_UI.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,653},{212,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,219}}</string>
                <key>sourceSize</key>
                <string>{212,219}</string>
            </dict>
            <key>Main_0009_shu3_UI.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{193,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,187}}</string>
                <key>sourceSize</key>
                <string>{193,187}</string>
            </dict>
            <key>Main_0011_cheshangjigeren_UI.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{298,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,243}}</string>
                <key>sourceSize</key>
                <string>{298,243}</string>
            </dict>
            <key>Main_0012_shu7_UI.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{357,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,252}}</string>
                <key>sourceSize</key>
                <string>{357,252}</string>
            </dict>
            <key>Main_0013_tuzi_juese.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,197},{193,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,252}}</string>
                <key>sourceSize</key>
                <string>{193,252}</string>
            </dict>
            <key>Main_0014_jiqiren_juese.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,280},{228,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,291}}</string>
                <key>sourceSize</key>
                <string>{228,291}</string>
            </dict>
            <key>Main_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,384},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>Main_0016_yinse_xingxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,779},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>Main_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,451},{187,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,20}}</string>
                <key>sourceSize</key>
                <string>{187,20}</string>
            </dict>
            <key>Main_0018_fenshtishi_UI.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,733},{303,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,89}}</string>
                <key>sourceSize</key>
                <string>{303,89}</string>
            </dict>
            <key>Main_0019_Group-2-copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,133},{249,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,150}}</string>
                <key>sourceSize</key>
                <string>{249,150}</string>
            </dict>
            <key>Main_0020_Group-1-copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,779},{232,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,128}}</string>
                <key>sourceSize</key>
                <string>{232,128}</string>
            </dict>
            <key>Main_0021_yuncai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{828,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{828,129}}</string>
                <key>sourceSize</key>
                <string>{828,129}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{1021,909}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16147f513d87c07f9a5940200be5621f:1/1$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
